@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

html {
    /* font-family: "Inter", sans-serif; */
}


.my-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
}

@media (min-width: 640px) {
    .my-container {
        max-width: 640px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (min-width: 768px) {
    .my-container {
        max-width: 768px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (min-width: 1024px) {
    .my-container {
        max-width: 1024px;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media (min-width: 1280px) {
    .my-container {
        max-width: 1280px;
        padding-left: 6rem;
        padding-right: 6rem;
    }
}


.gradient-text {
    background: linear-gradient(90deg, #4668da, #30cfe4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.shadow-text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}